<link rel='stylesheet' href = "/app.css">
<img src="undraw_Super_thank_you_re_f8bo.svg" height="30%" width="30%" alt="img">
<link
      href="https://fonts.googleapis.com/css?family=Alatsi"
      rel="stylesheet"
    />
<style>
     .font {
        font-family: "Alatsi";
        font-size: 40px;
        /* font-size: larger; */
      }
      p.font {
        color: black;
      }
    .registerbtn {
        background-color: #0e76bb;
        color: white;
        padding: 12px 18px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 15%;
        opacity: 0.9;
      }
</style>
<!-- <p class="font" style="font-size: 60px;">JOIN US</p -->

<p class="font , wrapper">Thanks for registering. You'll receive a confirmation mail shortly.
    <br> <br>
    Lucky Winners Will Get Free Goodies</p>
    
<!-- <p class="wrapper">.</p> -->

<div class="buttons">

    <div class="action_btn">

    <button name="submit" class="registerbtn" type="submit" value="home" onclick="window.location.href='/';">Home</button>

    <button name="submit" class="registerbtn" type="submit" value="re-register" onclick="window.location.href='/';">Re-Register</button>


    </div>

</div>