<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Alatsi"
      rel="stylesheet"
    />
    
  </head>
  <body>
    
	<p> Please select a filter</p>
	<p> Click on Search Again </p>
	<button name="submit" type="submit" value="home" onclick="window.location.href='/';">Search Again</button>
    
  </body>
</html>