<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Alatsi"
      rel="stylesheet"
    />
    
  </head>
  <body>
    
	<p class="font"> Results for england-and-wales division</p>
      <p class="font" align="center">
         <%= data1 %>
      </p>
	  <p> Results for scotland division</p>
      <p class="font" align="center">
         <%= data2 %>
      </p>	
	  <p> Results for northern-ireland division</p>
      <p class="font" align="center">
         <%= data3 %>
      </p>	
	  
	  <button name="submit" type="submit" value="home" onclick="window.location.href='/';">Search More</button>
    
  </body>
</html>